nav {
  width: 100%;
}

.title-math {
  font-size: 7vh;
}

.menu-items a:last-child {
  border: none;
}

.links {
  margin-right: 5px;
  color: black;
  border-right: 2px solid black;
  padding: 0 20px;
  font-size: 3vh;
}
